# Terraform files to ignore
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform/
terraform/.terraform.lock.hcl

# Sensitive keys & creds
*.key
*.pem

# Ansible
ansible/hosts
ansible/*.retry

# Python virtual envs & caches
venv/
*.pyc
__pycache__/

# Editor and OS files
*.swp
*.swo
.DS_Store
Thumbs.db

